*,
*::after,
*::before {
    box-sizing: border-box;
    /* margin: 0; */
}

/* 
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.5em;
    color: white;
} */

canvas {
    background-image: radial-gradient(rgb(94, 94, 94), rgb(80, 80, 80), black);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.5em;
}

.gameContainer {
    font-size: 1.5em;
}

.upgrade-menu-container {
    position: absolute;
    padding: 0.5em;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.4);
    z-index: 1;
    .weapon-store {
        display: flex;
        height: 200px;
        gap: 1em;
        figure {
            margin: 0;
            flex: 1;
            background-color: rebeccapurple;
        }
    }

    .upgrades {
        display: flex;
        row-gap: 1em;
        flex-direction: column;
        padding: 1em 0;
        figure {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            background-color: red;
            height: 2em;
            figcaption {
                display: flex;
                flex: 1;
                justify-content: space-between;
                button {
                    padding: 1em;
                    width: 5em;
                }
            }
        }
    }
}

#gameContainer {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#top {
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    width: 100%;
    height: fit-content;
    color: white;
}

#stats {
    font-weight: 500;
}

#healthContainer {
    border-radius: 0.2em;
    color: white;
    /* background-color: rgb(144, 238, 144, 0.5); */
    font-weight: bold;
    border: solid black 1px;
    width: 50%;
    height: fit-content;
    font-size: 0.825em;
}

#health {
    text-align: end;
    width: 80%;
    border-radius: 0.1em;
    height: 100%;
    background-color: rgb(0, 100, 0, 0.5);
    transition: 0.5s;
}

#options {
    width: 10%;
}

#right {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    top: 0;
    right: 0.5em;
    row-gap: 0.2em;
    bottom: 4em;
    button {
        font-size: 16px;
        opacity: 0.5;
        width: fit-content;
        /* height: 86px; */
        display: flex;
        column-gap: 0.4em;
        background-color: rgba(0, 255, 0, 0.8);
        font-weight: 500;
        border: none;
        border-radius: 5px;
        align-items: center;
        justify-content: end;
        padding: 0.1em 0.5em;

        position: relative;
        .price {
            color: red;
            /* background-color: rgb(255, 0, 0, 0.3); */
            /* background-color: rgba(0, 0, 0, 0.4); */
            font-weight: bold;
            font-size: 32px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .upgrade-shortcut {
            font-size: 16px;
            font-weight: bold;
            background-color: gray;
            color: white;
            width: fit-content;
            margin: auto;
            padding: 0 4px;
            border-radius: 3px;
            border: solid black 3px;
            height: fit-content;
        }

        &.disable-purchase {
            background-color: rgb(255, 0, 0, 0.5);
            font-weight: normal;
        }
    }
}

.bottom {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    color: white;
    /* div:first-child {
        font-size: 12px;
    } */
    > div + div {
        text-align: end;
    }

    #activeWeapon {
        display: flex;
        align-items: end;
        font-size: 16px;
    }

    .purchase {
        position: relative;
        .weapon-price {
            background-color: rgb(0, 0, 0, 0.3);
            color: red;
            font-size: 36px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hide {
            display: none;
        }
        .can-purchase {
            color: green;
            background-color: rgb(0, 0, 0, 0.15);
        }
    }
}

.player-weapons {
    display: flex;
    column-gap: 0.25em;
    button {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 56px;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.4);
        border: solid white 1px;
        border-radius: 3px;
        img {
            display: block;
            width: 72px;
            flex: 1;
            border-top: solid black 1px;
            border-radius: 0.1em;
        }
        div {
            font-size: 16px;
        }
    }
    .unlocked-weapon {
        background-color: rgba(253, 150, 150, 0.1);
    }
    .active-weapon {
        background-color: rgba(255, 0, 0, 0.2);
        border: solid lightblue 1px;
    }
}

.round-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.shake {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.hide {
    display: none;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#guide,
section {
    align-items: end;
    text-align: center;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    h1 {
        width: 100%;
    }
}

#endGameContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pauseGameContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blur {
    background-color: rgb(0, 0, 0, 0.8);
}

.flash {
    background-color: rgb(0, 0, 0);
    animation: flash 0.3s;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.1);
    color: white;
    gap: 1em;

    button {
        background-color: black;
        padding: 0.5em 1em;
        border: solid azure 1px;
    }
}

#left {
    position: absolute;
    left: 0.5em;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #dashForceContainer {
        height: 400px;
        width: 10px;
        border-radius: 1em;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: end;

        #dashForce {
            border-radius: 1em;
            background-color: blue;
            height: 50%;
        }
    }
}
