<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <ul>
            <li>
                <a
                    href="https://store.steampowered.com/app/2653670/Spent_Shells/"
                    >Game Inspiration</a
                >
            </li>
            <li>
                Bat
                <a
                    href="https://monopixelart.itch.io/dark-fantasy-enemies-asset-pack"
                    >asset pack</a
                >
            </li>
            <li>
                Mushroom
                <a href="https://monopixelart.itch.io/flying-enemies"
                    >asset pack</a
                >
            </li>
            <li>
                <a href="https://kenney-assets.itch.io/crosshair-pack"
                    >Pointer asset</a
                >
            </li>
            <li>
                <a href="https://xzany.itch.io/flying-demon-2d-pixel-art"
                    >Demon Assets</a
                >
            </li>

            <li>
                Sound Effect by
                <ul>
                    <li>
                        <a
                            href="https://pixabay.com/users/soundreality-31074404/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=321700"
                            >Jurij</a
                        >
                        from
                        <a
                            href="https://pixabay.com/sound-effects//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=321700"
                            >Pixabay Rocket Explosion</a
                        >
                    </li>
                    <li>
                        Sound Effect by
                        <a
                            href="https://pixabay.com/users/ribhavagrawal-39286533/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=230515"
                            >Ribhav Agrawal</a
                        >
                        from
                        <a
                            href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=230515"
                            >Pixabay</a
                        >
                    </li>
                    <li>
                        Sound Effect by
                        <a
                            href="https://pixabay.com/users/freesound_community-46691455/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=90116"
                            >freesound_community</a
                        >
                        from
                        <a
                            href="https://pixabay.com/sound-effects//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=90116"
                            >Pixabay</a
                        >
                    </li>
                    <li>
                        Sound Effect by
                        <a
                            href="https://pixabay.com/users/freesound_community-46691455/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=89833"
                            >freesound_community</a
                        >
                        from
                        <a
                            href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=89833"
                            >Pixabay</a
                        >
                    </li>
                    <li>
                        Sound Effect by
                        <a
                            href="https://pixabay.com/users/alice_soundz-44907632/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=224055"
                            >Alice_soundz</a
                        >
                        from
                        <a
                            href="https://pixabay.com/sound-effects//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=224055"
                            >Pixabay</a
                        >
                    </li>
                    <li>
                        Music by
                        <a
                            href="https://pixabay.com/users/mfcc-28627740/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=297305"
                            >Mykola Sosin</a
                        >
                        from
                        <a
                            href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=297305"
                            >Pixabay</a
                        >
                    </li>
                </ul>
            </li>

            <li>
                How to
                <a
                    href="https://www.khanacademy.org/computing/computer-programming/programming-natural-simulations/programming-vectors/a/vector-magnitude-normalization"
                    >Normalise a vector</a
                >
            </li>
            <li>
                How to
                <a
                    href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Howto/Solve_HTML_problems/Use_data_attributes"
                    >accessing data set</a
                >
            </li>
            <li>
                Refresher on
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset"
                    >the concept of dataset</a
                >
            </li>
            <li>
                How to
                <a
                    href="https://stackoverflow.com/questions/13831601/disabling-and-enabling-a-html-input-button"
                    >disable weapon</a
                >
            </li>
            <li>
                How to Jsdoc
                <ul>
                    <li>
                        <a href="https://jsdoc.app/tags-param"
                            >Jsdoc object parameter</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://michaelcurrin.github.io/dev-cheatsheets/cheatsheets/javascript/general/jsdoc.html"
                            >Jsdoc cheat sheet referenced</a
                        >
                    </li>
                </ul>
            </li>
            <li>
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/instanceof"
                    >Instance of</a
                >
            </li>
            <li>
                How to
                <a
                    href="https://www.freecodecamp.org/news/how-to-make-a-custom-mouse-cursor-with-css-and-javascript/"
                    >Custom cursor</a
                >
            </li>
            <li>
                How to event delegation
                <a
                    href="https://medium.com/@karthickrajaraja424/explain-event-delegation-in-javascript-and-how-it-improves-performance-1a78cd07986d#:~:text=Event%20delegation%20is%20a%20technique,target%20element%20to%20its%20ancestors."
                    >.matches</a
                >
            </li>
            <li>
                How to rotate weapon. Two sources that helped with
                implementation.
                <ul>
                    <li>
                        How to
                        <a href="https://www.youtube.com/watch?v=uNkFZWp4ywg"
                            >draw rotating weapon image</a
                        >. The whole video is useful but code can be found at:
                        12:50
                    </li>
                    <li>
                        How to
                        <a href="https://www.youtube.com/watch?v=_WJSH7NxtRc"
                            >draw rotating weapon.</a
                        >
                        Recap on code used begins at 09:00
                    </li>
                </ul>
            </li>
            <li>
                How to
                <a
                    href="https://p5js.org/reference/p5/asin/#:~:text=asin()%20is%20the%20inverse,the%20range%20%2D90%20to%2090."
                    >get inverse of sin in javascript</a
                >
            </li>
            <li>
                How to
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/API/Window/innerWidth"
                    >get inner width of window</a
                >
            </li>
            <li>
                How to
                <a href="https://www.youtube.com/watch?v=HmxNrlPx8iY&t=7174s"
                    >camera movement</a
                >
            </li>
            <li>
                How to
                <a
                    href="https://stackoverflow.com/questions/1071356/is-it-possible-to-hide-the-cursor-in-a-webpage-using-css-or-javascript"
                    >Remove cursor and rely on crosshair</a
                >
            </li>
            <li>
                How to
                <a
                    href="https://www.w3schools.com/cssref/func_radial-gradient.php"
                    >background gradient</a
                >
            </li>
            <li>
                How to
                <a
                    href="https://stackoverflow.com/questions/9419263/how-to-play-audio"
                    >add sound effects</a
                >
            </li>
            <li>
                How to
                <a
                    href="https://stackoverflow.com/questions/14834520/html5-audio-stop-function"
                    >pause audio</a
                >
            </li>

            <li>
                How to
                <a href="https://ui.dev/get-current-url-javascript"
                    >get url in javascript</a
                >
            </li>
            <li>
                Fix collision issues by introducing the idea of keeping track of
                last position - Demonstrator
            </li>
            <li>
                How to flash effect
                <a
                    href="https://stackoverflow.com/questions/59901959/remove-class-after-animation-is-completed"
                    >original reading</a
                >,
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/API/Element/animationend_event"
                    >implementation</a
                >
            </li>

            <li>
                How to
                <a href="https://www.w3schools.com/graphics/canvas_circles.asp"
                    >draw a circle</a
                >
            </li>
        </ul>
    </body>
</html>
