{% extends "base.html" %}{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<script
    type="module"
    src="{{ url_for('static', filename='game.js') }}"
></script>
{% endblock %} {% block content %}
<div id="gameContainer">
    <div id="pauseGameContainer"></div>
    <div id="endGameContainer"></div>
    <div id="right"></div>
    <div id="upgradeMenuContainer" class="upgrade-menu-container hide">
        <button id="close">Close</button>

        <section id="purchaseWeapons" class="weapon-store"></section>
        <section id="upgrades" class="upgrades"></section>
    </div>
    <div id="left">
        <div id="dashForceContainer">
            <div id="dashForce"></div>
        </div>
    </div>
    <div id="top">
        <div id="stats">
            <div id="score">Score: 10</div>
            <div id="cash">Cash: 500</div>
        </div>
        <div id="healthContainer">
            <div id="health">1/1</div>
        </div>
        <div id="options">
            <!-- <button id="upgradeMenu">u</button>
            <button>s</button> -->
        </div>
    </div>
    <div id="bottom" class="bottom">
        <div>
            <div id="ammo">---</div>
            <div class="player-weapons">
                <button class="purchase" id="glock" data-purchase-id="1">
                    <div class="weapon-price">79</div>
                    <img
                        src="{{ url_for('static', filename='images/GLOCK.png')}}"
                        alt=""
                    />
                    <div>1</div>
                </button>
                <button class="purchase" id="ak47" data-purchase-id="2">
                    <div class="weapon-price">79</div>
                    <img
                        src="{{ url_for('static', filename='assets/weapons/AK47_UI.png') }}"
                        alt="AK47"
                    />
                    <div>2</div>
                </button>
                <button class="purchase" id="rpg" data-purchase-id="3">
                    <div class="weapon-price">79</div>
                    <img
                        src="{{ url_for('static', filename='images/RPG.png')}}"
                        alt=""
                    />
                    <div>3</div>
                </button>
            </div>
        </div>

        <div id="activeWeapon">No guns purchased</div>
        <div class="round-info">
            <div id="round">Round 5</div>
            <div id="roundTimer">100</div>
        </div>
    </div>
    <canvas width="1024" height="640"></canvas>
</div>
<!-- <div class="flex justify-center">
    <button class="px-4 py-2 rounded bg-green-500" id="startBtn">
        Start game
    </button>
</div> -->

<div id="guide">
    <p>"p" - to pause the game</p>
    <section>
        <h1>Cheats</h1>
        <p>"c" = unlimited cash</p>
        <p>"h" = unlimited health</p>
        <p>"l" = unlimited dash</p>
    </section>
    <section>
        <h1>Audio</h1>
        <p>0 = mute/unmute</p>
    </section>
</div>

{% if not g.user%}
<div
    class="bg-red-100 border border-red-400 text-red-700 px-3 py-1.5 rounded w-2xl mx-auto text-center"
>
    You are Not logged in, attempt will not be logged ⚠️⚠️⚠️
</div>
{% endif %} {% endblock %}
