{% extends "base.html" %} {% block head %} <title>Guide</title> {% endblock %}
{% block content %}
<main class="text-center">
    <section class="flex flex-col items-center gap-y-2">
        <h1 class="text-xl font-bold">How to play</h1>

        <section class="bg-orange-100 w-2xl p-2 rounded-sm w-full max-w-2xl">
            <h2 class="text-xl font-medium">Movement</h2>
            <ul
                class="flex flex-wrap font-medium gap-x-2 justify-center items-center border-t-2 pt-2"
            >
                <li class="bg-orange-200 p-2 rounded-sm">w - move up</li>
                <li class="bg-orange-200 p-2 rounded-sm">d - move right</li>
                <li class="bg-orange-200 p-2 rounded-sm">s - move down</li>
                <li class="bg-orange-200 p-2 rounded-sm">a - move left</li>
                <li class="bg-orange-200 p-2 rounded-sm">[space bar] - dash</li>
            </ul>
        </section>
        <section class="bg-orange-100 w-2xl p-2 rounded-sm w-full max-w-2xl">
            <h2 class="text-xl font-medium">Purchase</h2>
            <section
                class="flex flex-col font-medium gap-x-2 justify-center items-center border-t-2 pt-2"
            >
                <h3>How to purchase a weapon.</h3>
                <p>
                    Once you have enough cash to purchase a weapon, the price
                    will turn form <b class="text-red-700">red</b> to
                    <b class="text-green-700">green</b>.
                </p>
                <p>
                    Clicking the corresponding key bind will purchase that
                    weapon.
                </p>
                <ul
                    class="flex flex-wrap font-medium gap-x-2 justify-center items-center pt-2"
                >
                    <li class="bg-orange-200 p-2 rounded-sm"><b>2</b> AK47</li>
                    <li class="bg-orange-200 p-2 rounded-sm"><b>3</b> RPG</li>
                </ul>
            </section>
            <section
                class="flex flex-col font-medium gap-x-2 justify-center items-center border-t-2 pt-2"
            >
                <h3>How to purchase an upgrade</h3>
                <p>
                    The upgrade price for
                    <b class="text-blue-800"
                        >each upgrade cost varies depending on your current
                        weapon.</b
                    >
                </p>
                <p>
                    The key bind for each upgrade is the letter that becomes
                    visible once you have enough money to purchase the upgrade.
                </p>
                <p>
                    Clicking the corresponding key binds will purchase that
                    upgrade.
                </p>
                <ul
                    class="flex flex-wrap font-medium gap-x-2 justify-center items-center pt-2"
                >
                    <li class="bg-orange-200 p-2 rounded-sm">
                        <b>v</b> Increase Ammo
                    </li>
                    <li class="bg-orange-200 p-2 rounded-sm">
                        <b>b</b> Decrease Fire Rate
                    </li>
                    <li class="bg-orange-200 p-2 rounded-sm">
                        <b>n</b> Decrease Reload Time
                    </li>
                    <li class="bg-orange-200 p-2 rounded-sm">
                        <b>m</b> Increase Player Health
                    </li>
                </ul>
            </section>
        </section>
    </section>
    <section class="flex flex-col items-center gap-y-2">
        <h1>Guide</h1>

        <section class="bg-orange-100 w-2xl p-2 rounded-sm w-full max-w-2xl">
            <h2 class="text-xl font-medium">Strategy</h2>
            <p>Survive as long as possible.</p>
            <p>Purchasing health (m) will go a long way.</p>
            <p>Other then that, <b>you decide your strategy</b>.</p>
        </section>

        <section class="bg-orange-100 w-2xl p-2 rounded-sm w-full max-w-2xl">
            <h2 class="text-xl font-medium">Enemy</h2>
            <table
                class="flex flex-col font-medium gap-x-2 justify-center items-center border-t-2 pt-2"
            >
                <caption>
                    Enemy Summary
                </caption>
                <tbody>
                    <tr>
                        <td></td>
                        <th scope="col">Bat</th>
                        <th scope="col">Creeper</th>
                        <th scope="col">Sprayer</th>
                    </tr>
                    <tr>
                        <th scope="row">Health</th>
                        <td>Low</td>
                        <td>Medium</td>
                        <td>High</td>
                    </tr>
                    <tr>
                        <th scope="row">Cash for elimination</th>
                        <td>Low</td>
                        <td>Medium</td>
                        <td>High</td>
                    </tr>
                    <tr>
                        <th scope="row">Can Shoot</th>
                        <td>False</td>
                        <td>True</td>
                        <td>True</td>
                    </tr>
                    <tr>
                        <th scope="row">Can Attack</th>
                        <td>True</td>
                        <td>True</td>
                        <td>True</td>
                    </tr>
                    <tr>
                        <th scope="row">Can Circle Player</th>
                        <td>False</td>
                        <td>True</td>
                        <td>False</td>
                    </tr>
                </tbody>
            </table>

            <section class="flex flex-col gap-y-2">
                <figure class="bg-orange-200 p-2 rounded-sm">
                    <img src="" alt="" />
                    <figcaption>
                        <h3 class="font-medium">Bat</h3>
                        <p>Inflicts damage every time it touches you.</p>
                    </figcaption>
                </figure>

                <figure class="bg-orange-200 p-2 rounded-sm">
                    <img src="" alt="" />
                    <figcaption>
                        <h3 class="font-medium">Creeper</h3>
                        <p>
                            Once close to you, it will circle you perfectly no
                            matter where you go.
                        </p>
                        <p>
                            To force it to detach from you, dash in the opposite
                            direction of it.
                        </p>
                    </figcaption>
                </figure>

                <figure class="bg-orange-200 p-2 rounded-sm">
                    <img src="" alt="" />
                    <figcaption>
                        <h3 class="font-medium">Sprayer</h3>
                        <p>
                            A relentless shooter. Shooting in all direction
                            making it's presence known.
                        </p>
                    </figcaption>
                </figure>
            </section>
        </section>
    </section>
</main>
{% endblock %}
