{% extends "base.html" %} {% block head %} <title>Home</title> {% endblock %} {%
block content %}
<main class="flex flex-col items-center gap-y-3 justify-center h-full">
    <section>
        If you want to appear on the leaderboard:
        <a class="font-bold" href="">Create Account</a>
    </section>
    <section class="font-bold">
        <a class="bg-red-500 p-2 rounded-sm" href="{{ url_for('game') }}"
            >Play Game</a
        >
        <a
            class="bg-black text-white p-2 rounded-sm"
            href="{{ url_for('guide') }}"
            >How to play</a
        >
    </section>
</main>
{% endblock %}
